/* Estilos para el encabezado */
header {
    background-color: darkmagenta;
    padding: 10px;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
  }
  
  .nav-link {
    color: #fff;
    font-size: 18px;
  }
  
  /* Estilos para el contenido principal */
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #333;
    border-color: #333;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  


  /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
/* Estilos para las cards */
.card {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card-text.text-muted {
    color: #888;
  }
  
  /* Estilos para los resultados de búsqueda */
  #result {
    margin-top: 20px;
  }
  
  #result h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #result p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .alert.error {
    background-color: #f8d7da;
    color: orange;
    padding: 10px;
    border-radius: 4px;
  }
  